.e404-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.e404 {
    font-size: 200px;
    font-weight: 600;
    margin-top: 70px;

}

.e404-erreur {
    font-size: 22px;
    margin-top: 15px;
    font-weight: 500;
}

.e404-lien {
    margin-top: 100px;
    margin-bottom: 60px;
    text-decoration: underline;
}

/*MQ*/

@media screen and (max-width: 1024px) {
    .e404 {
        font-size: 170px;
        margin-top: 110px;
    }

    .e404-erreur {
        font-size: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 640px) {
    .e404 {
        font-size: 100px;
    }

    .e404-erreur {
        font-size: 18px;
        text-align: center;
    }
}