.stars {
    display: flex;
    justify-content: flex-end;
    margin: 3% 0;
}

/*MQ*/

@media screen and (max-width: 1024px) {
    .star {
        height: 35px;
        width: 35px;
    }
}

@media screen and (max-width: 640px) {

    .stars {
        align-items: center;
    }

    .star {
        height: 20px;
        width: 20px;
    }
}