.collapse {
    margin: 3% 10%;
}

.collapse-titre {
    background-color: #FF6060;
    color: white;
    border-radius: 4px;
    padding: 1% 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.collapse-h2 {
    font-weight: 500;
    font-size: 18px;
}

.collapse-img {
    height: 15px;
    width: 20px;
}

.collapse-img-vers-bas {
    animation: animflechehaut 350ms linear;
}

@keyframes animflechehaut {
    0% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.collapse-img-vers-haut {
    animation: animflechebas 350ms linear;
}

@keyframes animflechebas {
    0% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.collapse-description {
    background-color: #F6F6F6;
    padding: 3% 2% 2% 2%;
    margin-top: -3px;
    line-height: 130%;
    border-radius: 4px;
}

.collapse-description-bas {
    animation: animbloc 550ms linear;
}

@keyframes animbloc {
    0% {
        opacity: 0;
        margin-top: -40px;
    }

    60% {
        opacity: 0.3;
    }

    80% {
        opacity: 0.5;
    }

    90% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}