.profil-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profil-name {
    display: flex;
    flex-wrap: wrap;
    width: 28%;
    line-height: 165%;
    text-align: center;
}

.profil-img {
    border-radius: 50%;
    height: 80px;
}