.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 3%;
}

a {
    color: #FF6060;
}

.header-ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 70px;
    margin-left: auto;
}

.header-li {
    text-align: center;
}

.header-active {
    text-decoration: underline;
}